/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1880px) {

	.container_lg{
		width: calc(100% - 60px);
		margin: 0 30px;
	}
		.container_lg .row{
			margin-left: 0;
			margin-right: 0;
		}
	section{
		width: 100%;
	}
}

@media only screen and (max-width: 1679px) {
	.home_slider_indent{padding-top: 800px;}
	.main_slider .owl-item{
		height: 840px;
	}
		.main_slider_container{
			min-height: 750px;
			padding-top: 280px;
		}
}

@media only screen and (max-width: 1600px) {
	
	.category_box .img_box{
		height: 320px;
	}
	.types_wrap .category_box .img_box{
		height: 250px;
	}
	.swip_slide{
		width: 378px;
	}
}

@media only screen and (max-width: 1460px) {
	.category_info{
		font-size: 25px;
	}

	.main_slider .owl-item{
		height: 822px;
	}
		.main_slider_container{
			min-height: 735px;
			padding-top: 260px;
		}

	.category_box .img_box {
	    height: 250px;
	}
}

@media only screen and (max-width: 1440px) {
	.home_slider_indent{padding-top: 750px;}
	.form_block{padding: 117px 0;}
		.contact_form{
			width: 100%;
			padding: 0 20px;
		}

	.main_slider .owl-item{
		height: 810px;
	}
		.main_slider_container{
			min-height: 720px;
			padding-top: 240px;
		}
}


@media only screen and (max-width: 1366px) {
	.home_slider_indent{padding-top: 660px;}
	.main_slider .owl-item{
		height: 720px;
	}
		.main_slider_container{
			min-height: 630px;
		}
		.form_block{
			padding: 92px 0;
		}

	.swiper_block{
		-webkit-background-size: auto 100%;
		     -o-background-size: auto 100%;
		        background-size: auto 100%;
	}
}

@media only screen and (max-width: 1280px) {
	.menu_item{
		width: 90px;
	}
	.logo{padding: 13px 0 13px 13px;}
	.main_slider{overflow: hidden;}
	.main_slider .owl-controls{
		left: 10px;
		right: 10px;
	}

	.main_slider_contact_box{
		padding: 13px 0 7px 30px;
	}
		.main_slider_contact_box .title5{
			font-size: 16px;
			line-height: 1.3;
		}
		.main_slider_contact_box img{
			margin-top: -7px;
		} 

		.main_slider_social{
			margin-top: 3px;
		}
			.main_slider_social a{
				width: 44px;
				height: 44px;
			}

			.category_info{
				font-size: 20px;
			}

	.types_wrap .category_box .img_box{
		height: 210px;
	}

			

	/*---  titles  ---*/
		.title1{
			font-size: 60px;
			margin-top: -10px;
		}
		.title2{
			font-size: 40px;
		}

	/*---  Links  ---*/
		.edit_link{
			width: 240px;
			padding: 13px 5px 13px 50px;
		}
		.edit_link:before{width: 50px;}
}

@media only screen and (max-width: 1199px) {
	.main_slider .owl-item{
		height: 670px;
	}
		.main_slider_container{
			min-height: 600px;
		}

	.tab_content{
		padding-bottom: 20px;
	}
		.tab_content .img_box{
			width: 35%;
			height: 100%;
		}
			.tab_content_info{
				padding-top: 0;
			}

	.form_block{padding: 65px 0;}
	.contact_section{
		background-position: 0 0;
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
	}
}

@media only screen and (max-width: 1024px) {
	.member_block .title2{
		margin-top: -5px;
	}
	.menu_item{
		width: 80px;
	}
	.main_slider_contact_box{padding: 13px 0 7px 10px;}
		.main_slider_contact_box .title5{font-size: 14px;}

	.main_slider .owl-item{
		height: 558px;
	}
		.main_slider_container{
			min-height: 495px;
			padding-top: 200px;
		}
		.home_slider_indent{padding-top: 500px;}

	.form_block{width: 60%;}
		.form_section{
			-webkit-background-size: auto 100%;
			     -o-background-size: auto 100%;
			        background-size: auto 100%;
		    background-position: 50% 0;
		}

	.contact .title2{margin-top: -12px;}
}

@media only screen and (max-width: 995px) {
 body{min-width:768px;}

	.home_tab_item span{font-size: 30px;}

	.contact_info span{
		font-size: 16px;
	}
	.types_wrap .category_box{
		width: 50%;
	}
		.types_wrap .category_box .img_box{height: 285px;}

	

	.contact_details{margin-bottom: 30px;}

}

@media only screen and (max-width: 768px) {
 body{min-width: 550px;}
 	header{
		left: 10px;
		right: 10px;
		margin-top: 0;
	}
	.title2{
			font-size: 28px;
			letter-spacing: -2px;
		}
		.title1{
			font-size: 32px;
			letter-spacing: -1px;
			margin-top: -5px;
		}
		.title5{font-size: 16px;}

	.types_wrap .category_box .img_box{
		height: 230px;
	}	

	
	.resp_menu_btn{
		display: block;
		float: right;
		margin-right: 15px;
		margin-top: 15px;
	}
	.resp_menu_close{
		position: absolute;
		right: 10px;
		top: 10px;
		display: block;
	}

	header nav{
		position: fixed;
		right: -320px;
		width: 320px;
		top: 0;
		padding-top: 40px;
		padding-left: 20px;
		background: rgba(53, 53, 53, 0.95);
		height: 100%;
		
		-webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
	}
		.menu{
			width: 100%;
			/*text-align: left;*/
		}
			.menu_item{
				display: block;
				width: 100%;
				margin-left: 0;
				border-left: none;
				text-align: left;
			}
				.menu_link{
					line-height: 42px;
				}
				.menu_link:hover{
					color: #F1C40F;
					background-color: transparent;
				}
	.nav_overlay header nav{
		right: 0;
	}

	.testimonials_slider{
		padding: 45px 0;
	}
		.quote_box{
			width: 650px;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		}

	.form_block{
		width: 100%;
	}
	.contact_form{
		padding: 0;
	}

	.category_box{margin-bottom: 0;}
		.category_box .img_box{
			height: 300px;
		}



    .member_tabs .resp-accordion{
    	color: #FFF;
    	text-transform: uppercase;
    	font-size: 18px;
    	background-color: #323232;
    	font-family: 'Oswald', sans-serif;
    }
    .member_tabs .resp-accordion.resp-tab-active{
    	background-color: #F1C40F;
    }
    .member_quote{
    	padding: 30px 15px 30px 30px;
    }
    	.member_quote .title5{
    		font-size: 18px;
    	}
    	.member_quote:before{
    		content: "";
    		top: 30px;
    		left: 2px;
    	}

    .member_block{
    	margin-bottom: 20px;
    }

    .main_slider_container{
		padding-top: 180px;
		min-height: 400px;
	}
		.main_slider_contact_box div{
			width: 100%;
			float: none;
		}
		.main_slider_container .title5{
			margin-bottom: 15px;
		}
		.main_slider_container .title1{
			margin-bottom: 15px;
		}

		.main_slider_social{
			margin-top: 15px;
			text-align: center;
		}
			.main_slider_social a{
				float: none;
			}
		[data-bg^="slide"],
		.testimonials_block{
			-webkit-background-size: auto 100%;
			     -o-background-size: auto 100%;
			        background-size: auto 100%;
		}

	.quote_box{
		width: 285px;
		font-size: 16px;
		padding: 0 25px;
	}
		.testimonials_slider .owl-controls{
			bottom: 23%;
		}

	.section_indent{
		padding-top: 25px;
		padding-bottom: 5px;
	}

	.home_tabs .resp-tabs-container{
		padding-top: 0;
	}
		.resp-tab-content{
			padding: 10px 5px;
		}
			h2.resp-accordion{
				text-transform: uppercase;
				padding: 10px 10px;
			}
			h2.resp-tab-active{
				color: #323232;
				background-color: #FFF;
			}

			.tab_content_info{
				width: 100%;
				float: none;
				padding-right: 0;
			}
			.tab_content .img_box{
				float: none;
			}
				.contact_info{
					margin-bottom: 15px;
				}

	.contact_details dd{font-size: 14px;}

	.member_block h2.resp-tab-active span.resp-arrow{
		border-bottom-color: #FFF;
	}

}

@media only screen and (max-width: 668px) {
body{min-width:480px;}
	.secondary_nav li a{
		padding: 10px 8px;
	}

	.contact_section{
		padding: 30px 0 30px;
	}
		.contact_section .title4{
			font-size: 20px;
			margin-bottom: 20px;
		}

	.page_header{
		margin-bottom: 15px;
		-webkit-background-size: 100% 100%;
		     -o-background-size: 100% 100%;
		        background-size: 100% 100%;
	}
	.map_wrap,
	.contact{
		margin-bottom: 20px;
	}
	.contact .title2{
		margin-top: -7px;
	}
	.contact .title4{
		font-size: 16px;
	}
	
	.map_wrap{
		height: 280px;
	}

}

@media only screen and (max-width: 550px) {
	.container_lg{width: 100%; margin: 0;}
	.types_wrap .category_box{
		width: 100%;
		float: none;
	}
		.types_wrap .category_box .img_box{
			width: 100%;
			height: 320px;
		}

}

@media only screen and (max-width: 480px) {
 body{min-width:320px;}

	.category_box .img_box{
		height: 215px;
		width: 100%;
	}

	.teasers_block{
		padding: 15px 0;
	}
		.teaser_box{
			padding: 10px 0 25px;
		}

	.tab_content_info p{
		text-align: justify;
	}

	.contact .title2{
		font-size: 36px;
	}
	.contact .title4{font-size: 20px;}
}

@media only screen and (max-width: 435px) {
	.logo a{
		font-size: 28px;
		width: 196px;
	}
	.resp_menu_btn{margin-top: 10px;}
	.main_slider .owl-controls{
		left: 3px;
		right: 3px;
	}
		.main_slider .owl-prev, 
		.main_slider .owl-next{
			width: 10px;
			height: 20px;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		}

		.category_info{
			left: 10px;
			right: 10px;
		}
		.types_wrap .category_box .img_box{
			height: 260px;
		}
}