@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
/*@import "../css/superfish.css";*/
@import "../css/swiper.css";
@import "../css/flexslider.css";
@import "../css/easy-responsive-tabs.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height:;
  color: #666;
  min-width: 960px;
  background: #fff;
  position: relative;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
  a {
    color: #808080;
    outline:none;
    text-decoration:none;
    cursor:pointer;
  }
  a:hover{
    color: #323232;
    text-decoration:none;
  }

  .btn{
    display:inline-block;
    padding:0 0 0;
    margin: 0 0 0;
    font-size: px;
    line-height: px;
    color:#;
   }
  .btn:hover{
    background:;
    color:#000;
  }
    .edit_link{
      color: #323232;
      width: 270px;
      font-size: 14px;
      position: relative;
      text-align: center;
      display: block;
      border: 2px solid #323232;
      padding: 19px 5px 19px 60px;
      background-color: transparent;
    }
    .edit_link:hover{
      background-color: #F1C40F;
    }
      .edit_link:before{
        content: "";
        left: 0;
        top: 0;
        bottom: 0;
        width: 59px;
        background: #323232 url(../images/icon/icon_edit.png) 50% 50% no-repeat;
        position: absolute;
      }
      .edit_link span:after{
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block;
        margin: 0 0 0 5px;
        padding-top:  1px;
        background: url(../images/icon/icon_more.png) 0% 0% no-repeat;
      }

    .more_link{
      width: 170px;
      font-size: 14px;
      font-weight: 900;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      display: block;
      padding: 19px 5px;
      border-width: 2px;
      border-style: solid;
      cursor: pointer;
      outline: none;
      background-color: transparent;
    }
      .more_link:after{
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block;
        margin: 0 0 0 5px;
        padding-top:  1px;
      }


      [data-btn_color="grey"]{
        border-color: #323232;
        color: #323232;
      }
      [data-btn_color="grey"]:after{
        background: url(../images/icon/icon_more.png) 0% 0% no-repeat;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
      }
      [data-btn_color="grey"]:hover{
        color: #fff;
        background-color: #323232;
      }
      [data-btn_color="grey"]:hover:after{
        background: url(../images/icon/icon_more2.png) 0% 0% no-repeat;
      }

      [data-btn_color="white"]{
        border-color: #fff;
        color: #fff;
      }
      [data-btn_color="white"]:after{
        background: url(../images/icon/icon_more2.png) 0% 0% no-repeat;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
      }
      [data-btn_color="white"]:hover{
        color: #323232;
        background-color: #fff;
      }
      [data-btn_color="white"]:hover:after{
        background: url(../images/icon/icon_more.png) 0% 0% no-repeat;
      }

      [data-btn_color="yellow"]{
        border-color: #f1c40f;
        background-color: #F1C40F;
        color: #fff;
      }
      [data-btn_color="yellow"]:after{
        background: url(../images/icon/icon_more2.png) 0% 0% no-repeat;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
      }
      [data-btn_color="yellow"]:hover{
        color: #323232;
        border-color: #323232;
      }
      [data-btn_color="yellow"]:hover:after{
        background: url(../images/icon/icon_more.png) 0% 0% no-repeat;
      }


/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .it{font-style:italic}
  .let{letter-spacing:-1px}

  .full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .img_box img{
    width: 100%;
    height: auto;
  }

  .center_pos{
    margin-left: auto;
    margin-right: auto;
  }

  .val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/



/*======================> Header <======================*/

  header {
    position: fixed !important;
    left: 30px;
    z-index: 25;
    right: 30px;
    background: rgba(53, 53, 53, 0.9);
    /*z-index: 10;*/
    margin-top: 30px;
  }
    .logo{
      float: left;
      padding: 13px 0 13px 31px;
    }
      .logo a{
        font-size: 34px;
        display:block;
        width:240px;
        line-height: 1;
        letter-spacing: -1.7px;
        /*background:url(../images/logo.png) 0 0 no-repeat;*/
        text-decoration:none;
        /*text-indent:-9999px;*/
      }
      .logo a:hover{
        color: #FFF;
      }


    .resp_menu_btn{
      width: 32px;
      height: 32px;
      background: url(../images/icon/menu.png) 0 0 no-repeat;
    }
    .resp_menu_close{
      width: 32px;
      height: 32px;
      background: url(../images/icon/close.png) 0 0 no-repeat;
    }
    

    header nav{
      float: right;
    }
      .menu{
        display: inline-block;
        text-align: center;
      }
        .menu_item{
          width: 123px;
          margin-left: -5px;
          text-align: center;
          display: inline-block;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
        }
          .menu_link{
            color: #FFF;
            font-size: 16px;
            line-height: 60px;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
          }
          .menu_link:hover{
            background-color: #F1C40F;
          }


/*=====================> Content ========================*/
#content {
  padding:0px 0px 0px 0px; 
  min-height: 1500px;
}
  .home_slider_indent{
    padding-top: 880px;
  }
  .container_lg{
    position: relative;
    width: 1860px;
    margin-left: auto;
    margin-right: auto;
  }

/*-----------  Page Header  --------*/
  .page_header{
    padding-top: 110px;
    padding-bottom: 30px;
    margin-bottom: 120px;
    position: relative;
    z-index: 15;
    background: url(../images/img11.jpg) 0 0 no-repeat;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }
    .page_header .title2{
      z-index: 15;
      position: relative;
      margin-bottom: 25px;
    }
    .page_header:before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(53, 53, 53, 0.4);
    }
      .page_header .main_slider_contact_box{
        padding: 20px 0 16px 30px;
      }

      .page_header .secondary_nav{
        padding: 0;
      }
        .page_header .secondary_nav li a{
          font-size: 12px;
          padding: 0 13px;
        }


/*----------  Main Slider  ----------*/
  .main_slider_wrap{
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    z-index: 5;
    /*height: 1000px;*/
  }
  .main_slider{}
    .main_slider_container{
      position: relative;
      padding-top: 380px;
      z-index: 10;
      min-height: 855px;
    }
      
        .main_slider .carousel_item:before{
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.3);
        }

      .main_slider .owl-item{
        height: 945px;
      }
        .main_slider .carousel_item{
          height: 100%;
        }

    .main_slider .owl-controls{
      position: absolute;
      top: 50%;
      left: 20px;
      right: 20px;
    }
      .main_slider .owl-prev,
      .main_slider .owl-next{
        width: 19px;
        height: 36px;
        color: transparent;
      }
      .main_slider .owl-prev{
        float: left;
        background: url(../images/icon/arrow_prev.png) 0 0 no-repeat;
      }
      .main_slider .owl-prev:hover{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        background: url(../images/icon/arrow_prev_act.png) 0 0 no-repeat;
      }

      .main_slider .owl-next{
        float: right;
        background: url(../images/icon/arrow_next.png) 0 0 no-repeat;
      }
      .main_slider .owl-next:hover{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        background: url(../images/icon/arrow_next_act.png) 0 0 no-repeat;
      }


    .contact_wrap{
      z-index: 10;
      position: relative;
    }
      .main_slider_contact_box{
        bottom: 30px;
        padding: 16px 0 16px 30px;
        background-color: rgba(255, 255, 255, 0.9);
      }
        .main_slider_contact_box div.f_left{
          margin-right: 25px;
        }
          .main_slider_contact_box img{
            vertical-align: middle;
          }
      
    [data-bg="slide1"]{
      background: url(../images/img7.jpg) 50% 50% no-repeat;
    }
    [data-bg="slide2"]{
      background: url(../images/img11.jpg) 50% 50% no-repeat;
    }
    [data-bg^="slide"]{
      -webkit-background-size: 100% auto;
           -o-background-size: 100% auto;
              background-size: 100% auto;
    }
      .main_slider_social{
        display: block;
        float: right;
      }
        .main_slider_social a{
          float: left;
          margin-top: -16px;
          margin-bottom: -16px;
        }


/*----------  Category 3 cols  ----------*/
  
  .category_box{
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
  }
    .category_box .img_box{
      display: inline-block;
      height: 400px;
    }
      .category_box .img_box img{
        width: 100%;
        height: 100%;
      }
      .category_info{
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        text-align: center;
        background-color: rgba(241, 196, 15, 0.9);
        
        font-size: 34px;
        color: #323232;
        padding: 7px 0;
        text-transform: uppercase;
        font-weight: 900;
      }
      .category_box:hover .category_info{
        background-color: rgba(241, 196, 15, 1);
      }


/*----------  Testimonials  ----------*/
  .testimonials_block{
    position: relative;
    background: url(../images/img3.jpg) 0% 0% no-repeat;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }
    .testimonials_block:before{
      content: "";
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
      position: absolute;
      background: rgba(241, 196, 15, 0.9);
    }
    .testimonials_slider{
      position: relative;
      z-index: 10;
      padding: 120px 0;
    }
      .quote_box{
        color: #323232;
        width: 890px;
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        padding: 0 60px;
        margin-bottom: 45px;
        background: url(../images/icon/quotes.png) 0 0 no-repeat;
      }

    .client_box{
      text-align: center;
    }
      .client_box .img_box{
        width: 70px;
        height: 68px;
        margin: 0 auto 5px;
        overflow: hidden;
        -webkit-border-radius: 50%;
                border-radius: 50%;
      }
        .client_box .img_box img{
          width: 100%;
          height: auto;
          
        }
  

    .testimonials_slider .owl-controls{
      position: absolute;
      bottom: 30%;
      width: 133px;
      left: 50%;
      margin-left: -68px;
    }
      .testimonials_slider .owl-prev,
      .testimonials_slider .owl-next{
        width: 10px;
        height: 18px;
        color: transparent;
      }
      .testimonials_slider .owl-prev{
        float: left;
        background: url(../images/icon/arrow_prev_min.png) 0 0 no-repeat;
      }
      .testimonials_slider .owl-prev:hover{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        background: url(../images/icon/arrow_prev_min_act.png) 0 0 no-repeat; 
      }

      .testimonials_slider .owl-next{
        float: right;
        background: url(../images/icon/arrow_next_min.png) 0 0 no-repeat;
      }
      .testimonials_slider .owl-next:hover{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        background: url(../images/icon/arrow_next_min_act.png) 0 0 no-repeat; 
      }


/*----------  Tabs  ----------*/
  .section_indent{
    padding-top: 120px;
    padding-bottom: 120px;
  }
    .home_tabs{

    }
      .home_tabs .resp-tabs-list{
        padding-top: 25px;
        background-color: #FFF;
        display: inline-block;
        width: 100%;
      }
        .home_tab_item{
          width: 20%;
          color: #CCC;
          padding-top: 80px;
          text-align: center;
        }
        .home_tab_item.resp-tab-active,
        .home_tab_item:hover{
          color: #323232;
          -webkit-transition: all 0.7s ease;
          -moz-transition: all 0.7s ease;
          -o-transition: all 0.7s ease;
          transition: all 0.7s ease;
        }
          .home_tab_item:not(:first-child){
            border-left: 1px solid #e5e5e5;
          }
          .home_tab_item:first-child{
            background: url(../images/icon/icon_tab1.png) 50% 25px no-repeat;
          }
          .home_tab_item:nth-child(2),
          .home_tab_item:nth-child(4){
            background: url(../images/icon/icon_tab2.png) 50% 25px no-repeat;
          }
          .home_tab_item:nth-child(3){
            background: url(../images/icon/icon_tab3.png) 50% 25px no-repeat;
          }
          .home_tab_item:last-child{
            background: url(../images/icon/icon_tab4.png) 50% 25px no-repeat;
          }

          .home_tab_item.resp-tab-active:first-child{
            background: url(../images/icon/icon_tab1_act.png) 50% 25px no-repeat;
          }
          .home_tab_item.resp-tab-active:nth-child(2),
          .home_tab_item.resp-tab-active:nth-child(4){
            background: url(../images/icon/icon_tab2_act.png) 50% 25px no-repeat;
          }
          .home_tab_item.resp-tab-active:nth-child(3){
            background: url(../images/icon/icon_tab3_act.png) 50% 25px no-repeat;
          }
          .home_tab_item.resp-tab-active:last-child{
            background: url(../images/icon/icon_tab4_act.png) 50% 25px no-repeat;
          }

          .home_tab_item span{
            display: block;
            text-transform: uppercase;
            font-size: 25px;
          }
          .home_tab_item span:last-child{
            font-size: 20px;
            margin-top: -5px;
          }
      .home_tabs .resp-tabs-container{
        padding-top: 30px;
      }
        .tab_content{}
          .tab_content .img_box{
            width: 40%;
            float: left;
            margin-right: 30px;
          }
          .tab_content_info{
            width: 57%;
            float: left;
            padding-top: 50px;
            padding-right: 30px;
          }

        .contact_info{}
          .contact_info li{
            padding: 14px 0;
            line-height: 1;
            border-bottom: 1px solid #e5e5e5;
          }
          .contact_info li:first-child{
            border-top: 1px solid #e5e5e5;
          }


/*-------------  Secondary Nav + Types of Works  ------------*/
  .secondary_nav{
    padding: 40px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
    .secondary_nav li{
      display: inline-block;
    }
      .secondary_nav li a{
        padding: 10px 13px;
        font-size: 16px;
        color: #323232;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
      }
      .secondary_nav li a:hover{
        color: #F1C40F;
      }

  .types_wrap{
    
  }
    .types_wrap .category_box{
      width: 25%;
      float: left;
      margin-bottom: 0;
    }
      .types_wrap .category_box .img_box{
        height: 320px;
      }
      .types_wrap .category_info .title5{
        text-transform: none;
        font-weight: 900;
        letter-spacing: -1px;
      }
      .types_wrap .category_info .title6{
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        letter-spacing: 0.3px;
      }

  .gallery_link_box{
    position: relative;
    padding: 50px 0;
    background: url(../images/img9.jpg) 50% 50% no-repeat;
  }
    .gallery_link_box:before{
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background-color: rgba(241, 196, 15, 0.9);
    }
    .gallery_link_box .more_link{
      margin-left: auto;
      margin-right: auto;
    }


/*----------  Swiper  ----------*/
  .swiper_block{
    padding-top: 115px;
    position: relative;
    background: url(../images/comp.jpg) 50% 50% no-repeat;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }
    .swiper_block:before{
      content: "";
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.9);
    }
    .swiper_block .title2,
    .swiper_block .title5{
      z-index: 10; 
      line-height: 0.9; 
      position: relative;
    }

    .swiper_slider{
      z-index: 10;
    }
      .swip_slide{
        width: 400px;
        text-align: center;
        margin-bottom: 120px;
        background-color: #FFF;
      }
        .swip_slide .img_box{
          width: 100%;
          max-height: 267px;
          overflow: hidden;
        }

        .swip_slide_figcaption{
          position: relative;
          padding: 50px 30px 90px;
        }
          .swip_slide_figcaption .title4{
            line-height: 0.9;
          }
          .swip_slide_figcaption a.title4:hover{
            color: #F1C40F;
          }
        .post_date{
          position: absolute;
          left: 50%;
          top: -30px;
          padding: 10px;
          margin-left: -30px;
          background-color: #F1C40F;
        }
          .post_date span:first-child{
            font-size: 34px;
            line-height: 0.9;
            font-weight: 900;
            color: #FFF;
            display: block;
            text-align: center;
          }
          .post_date span:last-child{
            font-size: 18px;
            line-height: 1;
            /*font-weight: 300;*/
            display: block;
            color: #323232;
            text-transform: uppercase;
            text-align: center;
          }
          .swip_slide_figcaption .social{
            position: absolute;
            left: 50%;
            margin-left: -85px;
            bottom: 0;
            text-align: center;
          }
          .swip_slide_figcaption .social a{
            display: inline-block;
            text-align: center;
            margin-left: -5px;
          }


/*--------------  FORM  --------------*/
  .form_section{
    margin-top: 80px;
    background: url(../images/form_bg1.jpg) 100% 0% no-repeat;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }
    .form_block{
      width: 50%;
      padding: 120px 0;
      background: rgba(241, 196, 15, 0.9);
    }
      .contact_form{
        width: 660px;
        margin-left: auto;
        margin-right: auto;
      }


      .form_row{
        margin-bottom: 10px;
        width: 100%;
      }

        .form_section .form_row input,
        .form_section .textarea_box textarea{
          border: 1px solid rgba(255, 255, 255, 0.5);
        }
        .form_row input{
          width: 100%;
          font-size: 14px;
          font-weight: 300;
          font-style: italic;
          color: #323232;
          line-height: 2;
          padding: 15px 30px;
          background-color: transparent;
          font-family: 'Open Sans', sans-serif;
        }
      .textarea_box{
        /*margin-bottom: 50px;*/
      }
        .textarea_box textarea{
          min-height: 200px;
          width: 100%;
          font-size: 14px;
          font-weight: 300;
          font-style: italic;
          resize: none;
          padding: 15px 30px;
          background-color: transparent;
          font-family: 'Open Sans', sans-serif;
        }


      .container .form_row input,
      .container .textarea_box textarea{
        border: 1px solid rgba(0, 0, 0, 0.5);
      }

      .contact_details{
        line-height: 1.75;
      }
        .contact_details dt{
          color: #F1C40F;
          font-weight: 900;
          padding-top: 20px;
          padding-left: 30px;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        .contact_details dd{
          font-weight: 300;
          padding-left: 30px;
          padding-bottom: 20px;
        }
        .contact_details dd:last-child{
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        [ data-icon="icon1"]{
          background: url(../images/icon/address.png) 0 27px no-repeat;
        }
        [ data-icon="icon2"]{
          background: url(../images/icon/phone.png) 0 27px no-repeat;
        }
        [ data-icon="icon3"]{
          background: url(../images/icon/fax.png) 0 27px no-repeat;
        }
        [ data-icon="icon4"]{
          background: url(../images/icon/mail.png) 0 27px no-repeat;
        }
        [ data-icon="icon5"]{
          background: url(../images/icon/email.png) 0 27px no-repeat;
        }


/*--------------  Contact  --------------*/
  .contact_section{
    padding: 120px 0 30px;
    position: relative;
    background: url(../images/map.png) 50% 50% no-repeat;
  }
    .contact_section:before{
      content: ""; 
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.9);
    }

    .teasers_block{
      padding: 50px 0;
      background: rgba(70, 70, 70, 0.95);
    }
      .teaser_box{
        padding: 30px 0;
        text-align: center;
      }
      .teaser_box:nth-child(2){
        border-left: 1px solid #606060;
        border-right: 1px solid #606060;
      }
        .teaser_box .title5{
          margin-top: -8px;
        }


    .map_wrap{
      margin-bottom: 80px;
      height: 500px;
    }

    .contact .title2{
      margin-top: -15px;
    }
    .contact .contact_form{
      margin-left: 0;
    }


/*---------------  Member  ---------------*/
  .member_block{
    
  }
    .member_block .img_box{
      width: 100%;
      margin-bottom: 50px;
    }
      .member_block .title2{
        margin-top: -10px;
      }
      .member_block .social{
        text-align: left;
        margin-top: 20px;
      }
        .member_block .social a{
          margin-left: -5px;
          text-align: left;
        }


      .member_block .title4{
        line-height: 1;
        letter-spacing: -2px;
      }
      .member_block p{
        line-height: 1.7;
      }

    .member_quote{
      width: 100%;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 35px 40px 40px 75px;
    }
      .member_quote:before{
        content: "";
        width: 27px;
        height: 20px;
        display: block;
        left: 34px;
        top: 38px;
        position: absolute;
        background: url(../images/icon/quote_single.png) 0% 0% no-repeat;
      }

      .member_quote .client_box{
        
      }
        .member_quote .client_box .img_box{
          width: 70px;
          margin: 0 18px 0 0;
          float: left;
        }
        .member_quote .client_box figcaption{
          text-align: left;
          padding-top: 7px;
        }

    .member_tabs{}
      .member_tabs .tab_content{
        padding: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
      .member_tabs .resp-tabs-container{margin-bottom: 45px;}
      li.member_tab_item{
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        
        width: 116px;
        margin-right: 1px;
        line-height: 60px;
        text-align: center;
        background-color: #323232;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      .member_tab_item.resp-tab-active,
      li.member_tab_item:hover{
        background-color: #F1C40F;
      }



/*=====================> Lists ========================*/
  .list1{}
      .list1 li{
        padding: 12px 0 12px 30px;
        background:url(../images/icon/marker.png) 10px 19px no-repeat;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      .list1 li:hover{
        background-position: 17px 19px;
      }
      .list1 li:last-child{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
        .list1 a{
          color: #323232;
          font-weight: 300;
        }

  .list2{}
  .list2 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list2 a{}

  .list3{}
  .list3 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list3 a{}

/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title1{
    font-size: 100px;
    line-height: 1;
    letter-spacing: -5px;
    margin-top: -15px;
    text-transform: uppercase;
  }

  .title2{
    font-size: 60px;
    line-height: 1;
    letter-spacing: -3px;
    text-transform: uppercase;
  }

  .title4{
    font-size: 34px;
    line-height: 1.3;
  }
  
  .title5{
    font-size: 22px;
    line-height: 1.3;
  }

  .title6{
    font-size: 12px;
    line-height: 1.1;
  }



  [data-color="grey_dark"]{
    color: #323232;
  }
  [data-color="grey_light"]{
    color: #808080;
  }
  [data-color="yellow"]{
    color: #f1c40f;
  }
  [data-color="white"]{
    color: #fff;
  }

  [data-bg="white"]{
    background-color: #fff;
  }
  [data-bg="grey_light"]{
    background-color: #EDEDED;
  }


/*================================>> GOOGLE FONTS  <<========================================*/

  .oswald{
    font-family: 'Oswald', sans-serif;
  }
  .fw_light{
    font-weight: 300;
  }
  .fw_exbold{
    font-weight: 900;
  }


/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px; line-height: 1.5;}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}
  .mb110{ margin-bottom: 110px;}
  .mb120{ margin-bottom: 120px;}


/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
  }
  a:hover{
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }



/*================================>> Contact Form <<========================================*/
  #contact-form {
    padding:0px 0 0 0;
    position: relative;
  }
  #contact-form .success
  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
  }
  .txt_field{
    margin:0;
    font-size:12px;
    border:1px solid #e7e7e7;
    color:#969696;
    padding:7px 10px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .msg_field{
    overflow:auto;
    width:433px;
    height:172px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
  }

  #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
  #contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:25px;
  }
  #contact-form .buttons2 a {
  	cursor:pointer;
  	margin-top:0;
  	text-align:center;
  }
  #contact-form span{
    display:block;
    margin: 0px 0 0 5px;
   }

  .map_wrapper{
    overflow:hidden;
    display:inline-block;
    margin-bottom:26px;
  }


/*================================>> Contacts Info <<========================================*/
  #map_canvas {
     width:411px;
     height:237px;
  }
  .adress{}
  .adress span{
    display:inline-block;
  }
  .adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
  footer {
    padding: 50px 0;
    text-align: center;
  }
    footer .social a{
      margin-left: -5px;
    }
    footer .social + p img{
      padding-top: 5px;
    }

    .social{
      text-align: center;
    }
      .social a{
        width: 60px;
        height: 60px;
        display: inline-block;
      }
      .social a:hover{
        opacity: 0.7;
      }
      .social .fb{
        background: #507CBE url(../images/icon/fb.png) 50% 50% no-repeat;
      }
      .social .tw{
        background: #00abef url(../images/icon/tw.png) 50% 50% no-repeat;
      }
      .social .gl{
        background: #cb4437 url(../images/icon/gl.png) 50% 50% no-repeat;
      }
      .social .in{
        background: #00649b url(../images/icon/in.png) 50% 50% no-repeat;
      }
      .social .pk{
        background: #f26798 url(../images/icon/pk.png) 50% 50% no-repeat;
      }

    

/*============================= Easy responsive tabs ============================*/


  .resp-tabs-list li {
      
  }


  h2.resp-accordion {
      display: none;
  }

  .resp-tab-content {
      display: none;
  }

  .resp-content-active, .resp-accordion-active {
      display: block;
  }

  .resp-easy-accordion  h2.resp-accordion {
          display: block;
  }

  .resp-tab-content-active {
      display: block;
  }


  @media only screen and (max-width: 768px) {
      ul.resp-tabs-list {
          display: none !important;
      }

      h2.resp-accordion {
          display: block;
      }

      
      .resp-accordion-closed {
          display:none !important;
      }
      
  }


/*============================ Arctic modal =============================*/
  .arcticmodal-overlay,
  .arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
  .arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
  *:first-child+html .arcticmodal-container { height: 100% }
  .arcticmodal-container_i { height: 100%; margin: 0 auto; }
  .arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
  .arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
  .arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
  /*  Core Owl Carousel v1.3.2 CSS File  */

  /* clearfix */
  .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  /* display none until init */
  .owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
  }
  .owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
  }
    
  .owl-carousel .owl-item{
    float: left;
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div{
    cursor: pointer;
  }
  .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* mouse grab icon */
  .grabbing { 
      cursor:url(grabbing.png) 8 8, move;
  }

  /* fix */
  .owl-carousel  .owl-wrapper,
  .owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
  }



/*============================ Swiper Slider =============================*/
  .swiper-container {
    width: 100%;
    margin: 20px auto;
  } 


/*-------  PLACEHOLDER  -------*/
    input::-webkit-input-placeholder{
      transition: all 0.5s ease;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-style: italic;
      font-size: 14px;
      font-weight: 400;
      color: #323232;
      opacity: 1;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    input::-moz-placeholder{
      transition: all 0.5s ease;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-style: italic;
      font-size: 14px;
      font-weight: 400;
      color: #323232;
      opacity: 1;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    input:-moz-placeholder{
      transition: all 0.5s ease;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-style: italic;
      font-size: 14px;
      font-weight: 400;
      color: #323232;
      opacity: 1;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    input:-ms-input-placeholder{
      transition: all 0.5s ease;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-style: italic;
      font-size: 14px;
      font-weight: 400;
      color: #323232;
      opacity: 1;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    input:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: all 0.5s ease;
    }
    input:focus::-moz-placeholder{
      opacity: 0;
      transition: all 0.5s ease;
    }
    input:focus:-moz-placeholder{
      opacity: 0;
      transition: all 0.5s ease;
    }
    input:focus:-ms-input-placeholder{
      opacity: 0;
      transition: all 0.5s ease;
    }
    /*===  input end    ===*/

    /*===  textarea start  ===*/
    textarea::-webkit-input-placeholder{
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-style: italic;   
        transition: all 0.5s ease;
        color: #323232;
        opacity: 1;
        font-size: 14px;
    }
    textarea::-moz-placeholder{
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-style: italic;   
        transition: all 0.5s ease;
        color: #323232;
        opacity: 1;
        font-size: 14px;
    }
    textarea:-moz-placeholder{
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-style: italic;   
        transition: all 0.5s ease;
        color: #323232;
        opacity: 1;
        font-size: 14px;
    }
    textarea:-ms-input-placeholder{
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-style: italic;   
        transition: all 0.5s ease;
        color: #323232;
        opacity: 1;
        font-size: 14px;
    }

    textarea:focus::-webkit-input-placeholder{
      transition: all 0.5s ease;
      opacity: 0;
    }
    textarea:focus::-moz-placeholder{
      transition: all 0.5s ease;
      opacity: 0;
    }
    textarea:focus:-moz-placeholder{
      transition: all 0.5s ease;
      opacity: 0;
    }
    textarea:focus:-ms-input-placeholder{
      transition: all 0.5s ease;
      opacity: 0;
    }
    /*===  textarea end    ===*/
/*-------  PLACEHOLDER END  -------*/
